---
title: Platform Automation for PCF Configuration
owner: PCF Platform Automation
---

## <a id=''></a> Platform Automation for PCF Configuration
This document lists each Platform Automation for PCF command,
and provides information about their intentions, inputs, and outputs.

Each command is also used in a Concourse task,
which is linked in order to provide additional examples.

All commands use an auth file, given in these examples as `auth.yml`.
This auth file controls the target of the command.

The auth file looks like this if you're using internal auth:


### <a id='create-vm'></a>Creating an Ops Manager VM

If using the `create-vm` task in the reference pipeline, providing a configuration file
with IaaS specific properties will be required. 

The IaaS-specific config file must be provided to the [create-vm](task-reference.html#create-vm) task
in order to successfully deploy a VM. 

Specific examples for each IaaS are as follows:

##### <a id='aws-configuration'></a> AWS
These required properties are adapted from the instructions outlined in
[Launching an Ops Manager Director Instance on AWS](https://docs.pivotal.io/pivotalcf/customizing/pcf-aws-manual-config.html)

<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'aws-configuration' %>

##### <a id='azure-configuration'></a> Azure
These required properties are adapted from the instructions outlined in
[Launching an Ops Manager Director Instance on Azure](https://docs.pivotal.io/pivotalcf/customizing/azure.html)

<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'azure-configuration' %>


##### <a id='gcp-configuration'></a> GCP
These required properties are adapted from the instructions outlined in
[Launching an Ops Manager Director Instance on GCP](https://docs.pivotal.io/pivotalcf/customizing/gcp-om-deploy.html)

<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'gcp-configuration' %>


##### <a id='openstack-configuration'></a> Openstack
These required properties are adapted from the instructions outlined in
[Launching an Ops Manager Director Instance on Openstack](https://docs.pivotal.io/pivotalcf/customizing/openstack-om-config.html)

<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'openstack-configuration' %>


##### <a id='vsphere-configuration'></a> vSphere
These required properties are adapted from the instructions outlined in
[Deploying BOSH and Ops Manager to vSphere](https://docs.pivotal.io/pivotalcf/customizing/deploying-vm.html)

<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'vsphere-configuration' %>


### <a id='generate-config'></a>Generating Config from an existing Ops Manager

Assuming that an Ops Manager has been previous deployed, the configuration can be extracted out for CLI or task consumption.

Running the following command will extract a parameterized configuration.

```
p-automator staged-director-config --auth-file auth.yml --output-file director.yml
```

The configuration does not extract credentials from Ops Manager.
This is to ensure that credentials are never written to disk.
The credentials need to be provided from an external configuration when invoking [configure-director](task-reference.html#configure-director).
