---
title: Ops Blocks Task Reference
owner: PCF Norm
---

## <a id='commands'></a> Ops Blocks Tasks
The Concourse tasks made available in Ops Blocks
are here listed alphabetically.
The tasks are presented, in their entirety,
as they are found in the product.

### <a id='apply-changes'></a> apply-changes
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'apply-changes' %>

### <a id='apply-director-changes'></a> apply-director-changes
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'apply-director-changes' %>

### <a id='configure-authentication'></a> configure-authentication
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'configure-authentication' %>

### <a id='configure-director'></a> configure-director
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'configure-director' %>

### <a id='configure-product'></a> configure-product
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'configure-product' %>

### <a id='configure-saml-authentication'></a> configure-saml-authentication
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'configure-saml-authentication' %>

### <a id='export-installation'></a> export-installation
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'export-installation' %>

### <a id='import-installation'></a> import-installation
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'import-installation' %>

### <a id='install-opsman'></a> install-opsman
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'install-opsman' %>

### <a id='staged-config'></a> staged-config
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'staged-config' %>

### <a id='staged-director-config'></a> staged-director-config
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'staged-director-config' %>

### <a id='upload-and-stage-product'></a> upload-and-stage-product
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'upload-and-stage-product' %>

### <a id='upload-stemcell'></a> upload-stemcell
<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'upload-stemcell' %>
