---
title: Platform Automation for PCF Task Reference
owner: PCF Platform Automation
---

## <a id='commands'></a> Platform Automation for PCF Tasks
The Concourse tasks made available in Platform Automation for PCF
are here listed alphabetically.
The tasks are presented, in their entirety,
as they are found in the product.

### <a id='apply-changes'></a> apply-changes
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'apply-changes' %>

### <a id='apply-director-changes'></a> apply-director-changes
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'apply-director-changes' %>

### <a id='configure-authentication'></a> configure-authentication
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'configure-authentication' %>

### <a id='configure-director'></a> configure-director
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'configure-director' %>

### <a id='configure-product'></a> configure-product
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'configure-product' %>

### <a id='configure-saml-authentication'></a> configure-saml-authentication
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'configure-saml-authentication' %>

### <a id='create-vm'></a> create-vm
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'create-vm' %>

### <a id='delete-vm'></a> delete-vm
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'delete-vm' %>

### <a id='export-installation'></a> export-installation
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'export-installation' %>
<%= partial 'export_installation_note' %>

### <a id='import-installation'></a> import-installation
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'import-installation' %>

### <a id='staged-config'></a> staged-config
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'staged-config' %>

### <a id='staged-director-config'></a> staged-director-config
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'staged-director-config' %>

### <a id='test'></a> test
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'test' %>

### <a id='upload-and-stage-product'></a> upload-and-stage-product
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'upload-and-stage-product' %>

### <a id='upload-stemcell'></a> upload-stemcell
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'upload-stemcell' %>
