# Platform Automation Toolkit Tasks

This document lists each Platform Automation Toolkit task,
and provides information about their intentions, inputs, and outputs.

The tasks are presented, in their entirety,
as they are found in the product.

The docker image can be used to invoke the commands in each task locally.
Use `--help` for more information. To learn more see [Running Commands Locally](./how-to-guides/running-commands-locally.html).

## apply-changes

Triggers an install on the Ops Manager described by the auth file.

<%= partial "disable-verifiers" %>

**Task**

<%= partial "tasks/apply-changes" %>

**Implementation**

<%= partial "tasks/apply-changes-script" %>

**Usage**

```yaml
- task: apply-product-changes
  attempts: 3
  image: platform-automation-image
  file: platform-automation-tasks/tasks/apply-changes.yml
  input_mapping:
    env: configuration
  params:
    ENV_FILE: foundations/config/env.yml
```

## apply-director-changes
`apply-changes` can also be used to trigger an install for just the BOSH Director
with the `--skip-deploy-products`/`-sdp` flag.

<%= partial "disable-verifiers" %>

**Task**

<%= partial "tasks/apply-director-changes" %>

**Implementation**

<%= partial "tasks/apply-director-changes-script" %>

**Usage**

```yaml
- task: apply-director-changes
  image: platform-automation-image
  attempts: 3
  file: platform-automation-tasks/tasks/apply-director-changes.yml
  input_mapping:
    env: configuration
  params:
    ENV_FILE: foundations/config/env.yml
```

## assign-multi-stemcell
`assign-multi-stemcell` assigns multiple stemcells to a provided product.
This feature is only available in OpsMan 2.6+.
For more information on how to utilize this workflow,
see [Stemcell Handling](./concepts/stemcell-handling.html).

**Task**

<%= partial "tasks/assign-multi-stemcell" %>

**Implementation**

<%= partial "tasks/assign-multi-stemcell-script" %>

**Usage**

```yaml
- task: assign-multi-stemcell
  image: platform-automation-image
  file: platform-automation-tasks/tasks/assign-multi-stemcell.yml
  params:
    ENV_FILE: ((foundation))/env/env.yml
```

## assign-stemcell
`assign-stemcell` assigns a stemcell to a provided product.
For more information on how to utilize
this workflow, see [Stemcell Handling](./concepts/stemcell-handling.html).

**Task**

<%= partial "tasks/assign-stemcell" %>

**Implementation**

<%= partial "tasks/assign-stemcell-script" %>

**Usage**

```yaml
- task: assign-stemcell
  image: platform-automation-image
  file: platform-automation-tasks/tasks/assign-stemcell.yml
  params:
    ENV_FILE: ((foundation))/env/env.yml
```

## check-pending-changes
Returns a table of the current state of your Ops Manager
and lists whether each product is changed or unchanged and the errands for that product.
By default, `ALLOW_PENDING_CHANGES: false` will force the task to fail.
This is useful to keep manual changes from being accidentally applied
when automating the [configure-product](#configure-product)/[apply-changes](#apply-changes) of other products.

**Task**

<%= partial "tasks/check-pending-changes" %>

**Implementation**

<%= partial "tasks/check-pending-changes-script" %>

**Usage**

```yaml
- task: check-pending-changes
  image: platform-automation-image
  file: platform-automation-tasks/tasks/check-pending-changes.yml
  input_mapping:
    env: configuration
  params:
    ENV_FILE: foundations/config/env.yml
    ALLOW_PENDING_CHANGES: true
```

## collect-telemetry
Collects foundation information
using the [Telemetry Collector](https://docs.vmware.com/en/Tanzu-Telemetry-for-Ops-Manager/index.html) tool.

This task requires the `telemetry-collector-binary` as an input.
The binary is available on [Tanzu Network](https://network.pivotal.io/products/pivotal-telemetry-collector);
you will need to define a `resource` to supply the binary.

This task requires a [config file](./inputs-outputs.html#telemetry).

After using this task,
the [send-telemetry](#send-telemetry)
may be used to send telemetry data to VMware.

**Task**

<%= partial "tasks/collect-telemetry" %>

**Implementation**

<%= partial "tasks/collect-telemetry-script" %>

**Usage**

```yaml
- task: collect-telemetry-data
  image: platform-automation-image
  file: platform-automation-tasks/tasks/collect-telemetry.yml
  input_mapping:
    env: configuration
    config: configuration
  params:
    CONFIG_FILE: foundations/((foundation))/config/telemetry.yml
    ENV_FILE: foundations/config/env.yml
```

## configure-authentication
Configures Ops Manager with an internal userstore and admin user account.
See [configure-saml-authentication](#configure-saml-authentication) to configure an external SAML user store,
and [configure-ldap-authentication](#configure-ldap-authentication) to configure with LDAP.

**Task**

<%= partial "tasks/configure-authentication" %>

**Implementation**

<%= partial "tasks/configure-authentication-script" %>

**Usage**

```yaml
- task: configure-authentication
  image: platform-automation-image
  file: platform-automation-tasks/tasks/configure-authentication.yml
  attempts: 10
  input_mapping:
    env: configuration
    config: configuration
  params:
    ENV_FILE: foundations/config/env.yml
    AUTH_CONFIG_FILE: foundations/config/auth.yml
```

For details on the config file expected in the `config` input,
see [Generating an Auth File](./how-to-guides/configuring-auth.html#generating-an-auth-file).

## configure-director
Configures the BOSH Director with settings from a config file.
See [staged-director-config](#staged-director-config),
which can extract a config file.

**Task**

<%= partial "tasks/configure-director" %>

**Implementation**

<%= partial "tasks/configure-director-script" %>

**Usage**

```yaml
- task: configure-director
  image: platform-automation-image
  file: platform-automation-tasks/tasks/configure-director.yml
  input_mapping:
    config: configuration
    env: configuration
```

<p class="note important">
<span class="note__title">Important</span>
For GCP, if service account is used, the property <code>associated_service_account</code>
has to be set explicitly in the <code>iaas_configuration</code> section.</p>

## configure-ldap-authentication
Configures Ops Manager with an external LDAP user store and admin user account.
See [configure-authentication](#configure-authentication) to configure an internal user store,
and [configure-saml-authentication](#configure-saml-authentication) to configure with SAML.

**Task**

<%= partial "tasks/configure-ldap-authentication" %>

**Implementation**

<%= partial "tasks/configure-ldap-authentication-script" %>

**Usage**

```yaml
- task: configure-ldap-authentication
  image: platform-automation-image
  file: platform-automation-tasks/tasks/configure-ldap-authentication.yml
  params:
    ENV_FILE: ((foundation))/env/env.yml
    AUTH_CONFIG_FILE: ((foundation))/auth/auth.yml
```

For more details on using LDAP,
see [Ops Manager documentation](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/pcf-interface.html#ldap).

For details on the config file expected in the `config` input,
please see [Generating an Auth File](./how-to-guides/configuring-auth.html#generating-an-auth-file).

## configure-product
Configures an individual, staged product with settings from a config file.

Not to be confused with Ops Manager's
built-in [import](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-backup-restore-restore-pcf-bbr.html#deploy-import),
which reads all deployed products and configurations from a single opaque file,
intended for import as part of backup/restore and upgrade lifecycle processes.

See [staged-config](#staged-config),
which can extract a config file,
and [upload-and-stage-product](#upload-and-stage-product),
which can stage a product that's been uploaded.

**Task**

<%= partial "tasks/configure-product" %>

**Implementation**

<%= partial "tasks/configure-product-script" %>

**Usage**

```yaml
- task: configure-pks
  image: platform-automation-image
  file: platform-automation-tasks/tasks/configure-product.yml
  input_mapping:
    config: configuration
    env: configuration
    vars: configuration
  params:
    CONFIG_FILE: foundations/((foundation))/config/pks.yml
    ENV_FILE: foundations/config/env.yml
    VARS_FILES: |
      vars/foundations/((foundation))/vars/director.yml
      vars/foundations/((foundation))/vars/pks.yml
```

## configure-saml-authentication
Configures Ops Manager with an external SAML user store and admin user account.
See [configure-authentication](#configure-authentication) to configure an internal user store,
and [configure-ldap-authentication](#configure-ldap-authentication) to configure with LDAP.

**Task**

<%= partial "tasks/configure-saml-authentication-script" %>

**Implementation**

<%= partial "tasks/configure-saml-authentication-script" %>

**Usage**

```yaml
- task: configure-saml-authentication
  image: platform-automation-image
  file: platform-automation-tasks/tasks/configure-saml-authentication.yml
  params:
    ENV_FILE: ((foundation))/env/env.yml
    AUTH_CONFIG_FILE: ((foundation))/auth/auth.yml
```

<p class="note">
<span class="note__title">Note</span>
By default, this task creates a BOSH admin client.
This is helpful for some advanced workflows
that involve communicating directly with the BOSH Director.
It is possible to disable this behavior;
see <a href="./how-to-guides/configuring-auth.html#generating-an-auth-file">Generating an Auth file</a>
for details.</p>

Configuring SAML has two different auth flows for the UI and the task.
The UI will have a browser based login flow.
The CLI will require `client-id` and `client-secret` as it cannot do a browser login flow.

For more details on using SAML,
see the [Ops Manager documentation](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/pcf-interface.html#saml-settings).

For details on the config file expected in the `config` input,
please see [Generating an Auth File](./how-to-guides/configuring-auth.html#generating-an-auth-file).

## create-vm
Creates an unconfigured Ops Manager VM.

**Task**

<%= partial "tasks/create-vm" %>

**Implementation**

<%= partial "tasks/create-vm-script" %>

**Usage**

```yaml
- task: create-vm
  image: platform-automation-image
  file: platform-automation-tasks/tasks/create-vm.yml
  input_mapping:
    image: opsman-image
    config: configuration
    vars: configuration
  params:
    OPSMAN_CONFIG_FILE: foundations/((foundation))/config/opsman.yml
    STATE_FILE: state-((foundation)).yml
    VARS_FILES: vars/foundations/((foundation))/vars/director.yml
  ensure: &put-state
    do:
    - put: state
      params:
        file: generated-state/state-((foundation)).yml
```

This task requires a config file specific to the IaaS being deployed to.
Please see the [configuration](./inputs-outputs.html#ops-manager-config) page for more specific examples.

The task does specific CLI commands for the creation of the Ops Manager VM on each IAAS. See below for more information:

**AWS**

1. Requires the image YAML file from Tanzu Network
2. Validates the existence of the VM if defined in the statefile, if so do nothing
3. Chooses the correct ami to use based on the provided image YAML file from Tanzu Network
4. Creates the VM configured via opsman config and the image YAML. This only attaches existing infrastructure to a newly created VM. This does not create any new resources
5. The public IP address, if provided, is assigned after successful creation

**Azure**

1. Requires the image YAML file from Tanzu Network
1. Validates the existence of the VM if defined in the statefile, if so do nothing
1. Copies the image (of the OpsMan VM from the specified region) as a blob into the specified storage account
1. Creates the Ops Manager image
1. Creates a VM from the image. This will use unmanaged disk (if specified), and assign a public and/or private IP. This only attaches existing infrastructure to a newly createdVM. This does not create any new resources.

**GCP**

1. Requires the image YAML file from Tanzu Network
1. Validates the existence of the VM if defined in the statefile, if so do nothing
1. Creates a compute image based on the region specific Ops Manager source URI in the specified Ops Manager account
1. Creates a VM from the image. This will assign a public and/or private IP address, VM sizing, and tags. This does not create any new resources.

**Openstack**

1. Requires the image YAML file from Tanzu Network
1. Validates the existence of the VM if defined in the statefile, if so do nothing
1. Recreates the image in openstack if it already exists to validate we are using the correct version of the image
1. Creates a VM from the image. This does not create any new resources
1. The public IP address, if provided, is assigned after successful creation

**vSphere**

1. Requires the OVA image from Tanzu Network
1. Validates the existence of the VM if defined in the statefile, if so do nothing
1. Build ipath from the provided datacenter, folder, and vmname provided in the config file. The created VM is stored on the generated path. If folder is not provided, the VM will be placed in the datacenter.
1. Creates a VM from the image provided to the `create-vm` command. This does not create any new resources


## credhub-interpolate
Interpolate credhub entries into configuration files

**Task**

<%= partial "tasks/credhub-interpolate" %>

**Implementation**

<%= partial "tasks/credhub-interpolate-script" %>

**Usage**

```yaml
- task: interpolate-env-creds
  image: platform-automation-image
  file: platform-automation-tasks/tasks/credhub-interpolate.yml
  params:
    CREDHUB_CLIENT: ((credhub-client))
    CREDHUB_SECRET: ((credhub-secret))
    CREDHUB_SERVER: ((credhub-server))
    PREFIX: '/pipeline/vsphere'
    INTERPOLATION_PATHS: ((foundation))/config
    SKIP_MISSING: true
  input_mapping:
    files: configuration
  output_mapping:
    interpolated-files: interpolated-configs
```

This task requires a valid CredHub with UAA client and secret. For information on how to
set this up, see [Secrets Handling](./concepts/secrets-handling.html).

## delete-installation
Deletes the Ops Manager installation.

**Task**

<%= partial "tasks/delete-installation" %>

**Implementation**

<%= partial "tasks/delete-installation-script" %>

**Usage**

```yaml
- task: delete-installation
  image: platform-automation-image
  file: platform-automation-tasks/tasks/delete-installation.yml
  input_mapping:
    env: configuration
  params:
    ENV_FILE: foundations/config/env.yml
```

## delete-vm
Deletes the Ops Manager VM instantiated by [create-vm](#create-vm).

**Task**

<%= partial "tasks/delete-vm" %>

**Implementation**

<%= partial "tasks/delete-vm-script" %>

**Usage**

```yaml
- task: delete-vm
  image: platform-automation-image
  file: platform-automation-tasks/tasks/delete-vm.yml
  input_mapping:
    config: configuration
  params:
    OPSMAN_CONFIG_FILE: foundations/((foundation))/config/opsman.yml
    STATE_FILE: state-((foundation)).yml
  ensure:
    do:
    - put: state
      params:
        file: generated-state/state-((foundation)).yml
```

This task requires the [state file](./inputs-outputs.html#state) generated [create-vm](#create-vm).

The task does specific CLI commands for the deletion of the Ops Manager VM and resources on each IAAS. See below for more information:

**AWS**

1. Deletes the VM

**Azure**

1. Deletes the VM
1. Attempts to delete the associated disk
1. Attempts to delete the associated nic
1. Attempts to delete the associated image

**GCP**

1. Deletes the VM
1. Attempts to delete the associated image

**Openstack**

1. Deletes the VM
1. Attempts to delete the associated image

**vSphere**

1. Deletes the VM

## download-product

<%= partial "opsman_filename_change_note" %>

Downloads a product specified in a config file from Tanzu Network(`pivnet`), S3(`s3`), GCS(`gcs`), or Azure(`azure`).
Optionally, also downloads the latest stemcell for that product.

Downloads are cached, so files are not re-downloaded each time.
When downloading from Tanzu Network,
the cached file is verified
using the Tanzu Network checksum
to validate the integrity of that file.
If it does not, the file is re-downloaded.
When downloading from a supported blobstore
the cached file is not-verified,
as there is no checksum from those blobstore APIs to use.

Outputs can be persisted to any supported blobstore using a `put` to an appropriate resource
for later use with download-product using the `SOURCE` parameter,
or used directly as inputs to [upload-and-stage-product](#upload-and-stage-product)
and [upload-stemcell](#upload-stemcell) tasks.

This task requires a [download-product config file](./inputs-outputs.html#download-product-config).

If stemcell-iaas is specified in the [download-product config file](./inputs-outputs.html#download-product-config),
and the specified product is a `.pivotal` file,
`download-product` will attempt to download the stemcell for the product.
It will retrieve the latest compatible stemcell for the specified IaaS.
The valid IaaSs are:

- `aws`
- `azure`
- `google`
- `openstack`
- `vsphere`

If a configuration for S3, GCS, or Azure is present in the [download-product config file](./inputs-outputs.html#download-product-config),
the slug and version of the downloaded product file will be prepended in brackets to the filename.  
For example:

- original-pivnet-filenames:
  ```
  ops-manager-aws-2.5.0-build.123.yml
  cf-2.5.0-build.45.pivotal
  ```

- download-product-filenames if blobstore configuration is present:
  ```
  [ops-manager,2.5.0]ops-manager-aws-2.5.0-build.123.yml
  [elastic-runtime,2.5.0]cf-2.5.0-build.45.pivotal
  ```

This is to allow the same config parameters
that let us select a file from Tanzu Network
select it again when pulling from the supported blobstore.
Note that the filename will be unchanged
if supported blobstore keys are not present in the configuration file.
This avoids breaking current pipelines.

<p class="note important">
<span class="note__title">Important</span>
<b>When using the s3 resource in Concourse</b>:
If you are using a <code>regexp</code> in your s3 resource definition
that explicitly requires the Tanzu Network filename
to be the start of the regex, (for example, the pattern starts with <code>^</code>)
this won't work when using S3 config.
The new file format preserves the original filename,
so it is still possible to match on that,
but if you need to match from the beginning of the filename,
that will have been replaced by the prefix described above.</p>

<p class="note">
<span class="note__title">Note</span>
When specifying Tanzu Application Service [Windows],
this task will automatically download and inject the winfs for pas-windows.</p>

<p class="note important">
<span class="note__title">Important</span>
This task cannot download the stemcell for pas-windows on vSphere.
To build this stemcell manually, see
<a href="https://docs.vmware.com/en/VMware-Tanzu-Application-Service/2.13/tas-for-vms/create-vsphere-stemcell-automatically.html">Creating a Windows Stemcell for vSphere</a>
in the Tanzu Application Service (TAS for VMs) documentation.</p>

<p class="note">
<span class="note__title">Note</span>
When the download product config only has Tanzu Network credentials,
it will not add the prefix to the downloaded product.
For example, <code>example-product.pivotal</code> from Tanzu Network will be outputted
as <code>example-product.pivotal</code>.</p>

**Task**

<%= partial "tasks/download-product" %>

**Implementation**

<%= partial "tasks/download-product-script" %>

**Tanzu Network Usage**

```yaml
- name: fetch-pks
  plan:
  - in_parallel:
    - get: daily
      trigger: true
    - get: platform-automation-image
      params:
        unpack: true
    - get: platform-automation-tasks
      params:
        unpack: true
    - get: configuration
  - task: prepare-tasks-with-secrets
    <<: *prepare-tasks-with-secrets
  - task: download-pks-product-and-stemcell
    image: platform-automation-image
    file: platform-automation-tasks/tasks/download-product.yml
    params:
      CONFIG_FILE: download-product-pivnet/download-pks.yml
    input_mapping:
      config: configuration
    output_mapping: {downloaded-stemcell: pks-stemcell}
  - in_parallel:
      - put: pks-product
        params:
          file: downloaded-product/*.pivotal
      - put: pks-stemcell
        params:
          file: pks-stemcell/*.tgz
```

**S3 Usage**

```yaml
- task: download-pks
  image: platform-automation-image
  file: platform-automation-tasks/tasks/download-product.yml
  input_mapping:
    config: configuration
    vars: configuration
  params:
    CONFIG_FILE: foundations/((foundation))/config/download-pks.yml
    VARS_FILES: vars/foundations/((foundation))/vars/versions.yml
    SOURCE: s3
  output_mapping:
    downloaded-product: pks-product
    downloaded-stemcell: pks-stemcell
```

**GCS Usage**

```yaml
- task: download-pas
  image: platform-automation-image
  file: platform-automation-tasks/tasks/download-product.yml
  params:
    CONFIG_FILE: download-product/pas.yml
    SOURCE: gcs
  input_mapping:
    config: configuration
  output_mapping:
    downloaded-product: pas-product
    downloaded-stemcell: pas-stemcell
```

**Azure Usage**

```yaml
- task: download-pas
  image: platform-automation-image
  file: platform-automation-tasks/tasks/download-product.yml
  params:
    CONFIG_FILE: download-product/pas.yml
    SOURCE: azure
  input_mapping:
    config: configuration
  output_mapping:
    downloaded-product: pas-product
    downloaded-stemcell: pas-stemcell
```

## download-product-s3

<p class="note important">
<span class="note__title">Important</span>
<b>Deprecation Notice</b>:
<br><br>
This task is deprecated in favor of
<a href="#download-product">download-product</a>,
which can now download from all supported blobstores.
Usage has been changed to reflect the preferred command.</p>

Downloads a product specified in a config file from an S3-compatible blobstore.
This is useful when retrieving assets in an offline environment.

Downloads are cached, so files are not re-downloaded each time.

This is intended to be used with files downloaded from Tanzu Network by [`download-product`](#download-product)
and then persisted to a blobstore using a `put` step.

Outputs can be used directly as an input to [upload-and-stage-product](#upload-and-stage-product)
and [upload-stemcell](#upload-stemcell) tasks.

This task requires a [download-product config file](./inputs-outputs.html#download-product-config).
The same configuration file should be used with both this task and [`download-product`](#download-product).
This ensures that the same file
is being captured with both tasks.

The product files uploaded to s3 for download with this task require a specific prefix:
`[product-slug,semantic-version]`.
This prefix is added by the [`download-product`](#download-product) task
when S3 keys are present in the configuration file.
This is the meta information about the product from Tanzu Network,
which is _not guaranteed_ to be in the original filename.
This tasks uses the meta information to be able to perform
consistent downloads from s3
as defined in the provided download config.
For example:

- original-tanzu-network-filenames:
  ```
  ops-manager-aws-2.5.0-build.123.yml
  cf-2.5.0-build.45.pivotal
  ```

- filenames expected by `download-product-s3` in a bucket:
  ```
  [ops-manager,2.5.0]ops-manager-aws-2.5.0-build.123.yml
  [elastic-runtime,2.5.0]cf-2.5.0-build.45.pivotal
  ```

<p class="note important">
<span class="note__title">Important</span>
When the download product config only has Tanzu Network credentials,
it will not add the prefix to the downloaded product.
For example, <code>example-product.pivotal</code> from Tanzu Network will be outputted
as <code>example-product.pivotal</code>.</p>

<p class="note">
<span class="note__title">Note</span>
It's possible to use IAM instance credentials
instead of providing S3 creds in the config file.
See <a href="./inputs-outputs.html.md.erb#download-product-config">download-product-config file</a>
for details.</p>

**Task**

<%= partial "tasks/download-product-s3" %>

**Implementation**

<%= partial "tasks/download-product-s3-script" %>

**Usage**

```yaml
- task: download-pks
  image: platform-automation-image
  file: platform-automation-tasks/tasks/download-product.yml
  input_mapping:
    config: configuration
    vars: configuration
  params:
    CONFIG_FILE: foundations/((foundation))/config/download-pks.yml
    VARS_FILES: vars/foundations/((foundation))/vars/versions.yml
    SOURCE: s3
  output_mapping:
    downloaded-product: pks-product
    downloaded-stemcell: pks-stemcell
```

## expiring-certificates
Returns a list of certificates that are expiring within a time frame.
These certificates can be Ops Manager or CredHub certificates.
Root CAs cannot be included in this list until Ops Manager 2.7.
This is purely an informational task.

**Task**

<%= partial "tasks/expiring-certificates" %>

**Implementation**

<%= partial "tasks/expiring-certificates-script" %>

**Usage**

```yaml
- task: expiring-certificates
  image: platform-automation-image
  file: platform-automation-tasks/tasks/expiring-certificates.yml
  input_mapping:
    env: configuration
  params:
    ENV_FILE: foundations/config/env.yml
    EXPIRES_WITHIN: 2m
```

## export-installation
Exports an existing Ops Manager to a file.

This is the first part of the backup/restore and upgrade lifecycle processes.
This task is used on a fully installed and healthy Ops Manager to export
settings to an upgraded version of Ops Manager.

To use with non-versioned blobstore, you can override `INSTALLATION_FILE` param
to include `$timestamp`, then the generated installation file will include a sortable
timestamp in the filename.

example:
```yaml
params:
  INSTALLATION_FILE: installation-$timestamp.zip
```

<p class="note">
<span class="note__title">Note</span>
The timestamp is generated using the time on Concourse worker.
If the time is different on different workers, the generated timestamp may fail to sort correctly.
Changing the time or timezone on workers might interfere with ordering.</p>

**Task**

<%= partial "tasks/export-installation" %>

**Implementation**

<%= partial "tasks/export-installation-script" %>

**Usage**

```yaml
- task: export-installation
  image: platform-automation-image
  file: platform-automation-tasks/tasks/export-installation.yml
  input_mapping:
    env: configuration
  params:
    ENV_FILE: foundations/config/env.yml
    INSTALLATION_FILE: ((foundation))-installation-$timestamp.zip
```

<%= partial "export_installation_note" %>

## import-installation
Imports a previously exported installation to Ops Manager.

This is a part of the backup/restore and upgrade lifecycle processes.
This task is used after an installation has been exported and a new Ops Manager
has been deployed, but before the new Ops Manager is configured.

**Task**

<%= partial "tasks/import-installation" %>

**Implementation**

<%= partial "tasks/import-installation-script" %>

**Usage**

```yaml
- task: import-installation
  image: platform-automation-image
  file: platform-automation-tasks/tasks/import-installation.yml
  input_mapping:
    env: configuration
  params:
    ENV_FILE: ((foundation))/env/env.yml
    INSTALLATION_FILE: installation-*.zip
```

## make-git-commit
Copies a single file into a repo and makes a commit.
Useful for persisting the state output of tasks that manage the VM, such as:

- [create-vm](#create-vm)
- [upgrade-opsman](#upgrade-opsman)
- [delete-vm](#delete-vm)

Also useful for persisting the configuration output from:

- [staged-config](#staged-config)
- [staged-director-config](#staged-director-config)

<p class="note">
<span class="note__title">Note</span>
This commits <b>all changes</b> present
in the repo used for the <code>repository</code> input,
in addition to copying in a single file.</p>

<p class="note important">
<span class="note__title">Important</span>
This does not perform a <code>git push</code>.
You must <code>put</code> the output of this task to a git resource to persist it.</p>

**Task**

<%= partial "tasks/make-git-commit" %>

**Implementation**

<%= partial "tasks/make-git-commit-script" %>

**Usage**

```yaml
- task: make-commit
  image: platform-automation-image
  file: platform-automation-tasks/tasks/make-git-commit.yml
  input_mapping:
    repository: configuration
    file-source: generated-state
  output_mapping:
    repository-commit: configuration-commit
  params:
    FILE_SOURCE_PATH: state.yml
    FILE_DESTINATION_PATH: state/state.yml
    GIT_AUTHOR_EMAIL: "pcf-pipeline-bot@example.com"
    GIT_AUTHOR_NAME: "Platform Automation Bot"
    COMMIT_MESSAGE: 'Update state file'
```

## pre-deploy-check
Checks if the Ops Manager director is configured properly and validates the configuration.
This feature is only available in Ops Manager 2.6+.
Additionally, checks each of the staged products
and validates they are configured correctly.
This task can be run at any time
and can be used a a pre-check for [`apply-changes`](#apply-changes).

The checks that this task executes are:

- is configuration complete and valid
- is the network assigned
- is the availability zone assigned
- is the stemcell assigned
- what stemcell type/version is required
- are there any unset/invalid properties
- did any ops manager verifiers fail

If any of the above checks fail
the task will fail.
The failed task will provide a list of errors that need to be fixed
before an `apply-changes` could start.

**Task**

<%= partial "tasks/pre-deploy-check" %>

**Implementation**

<%= partial "tasks/pre-deploy-check-script" %>

**Usage**

```yaml
- task: pre-deploy-check
  image: platform-automation-image
  file: platform-automation-tasks/tasks/pre-deploy-check.yml
  input_mapping:
    env: configuration
  params:
    ENV_FILE: foundations/config/env.yml
```

## prepare-tasks-with-secrets
Modifies task files to include variables needed for config files as environment variables
for run-time interpolation from a secret store.
See [Secrets Handling](./concepts/secrets-handling.html).

<p class="note important">
<span class="note__title">Important</span>
<b>Concourse 5+ only</b>:
<br>
This task uses a Concourse feature
that allows inputs and outputs to have the same name.
This feature is only available in Concourse 5+.
<code>prepare-tasks-with-secrets</code> does not work with Concourse 4.</p>

**Task**

<%= partial "tasks/prepare-tasks-with-secrets" %>

**Implementation**

<%= partial "tasks/prepare-tasks-with-secrets-script" %>

**Usage**

```yaml
# This task is used in multiple jobs
# The yaml anchor "*prepare-tasks-with-secrets" is used in its place
prepare-tasks-with-secrets: &prepare-tasks-with-secrets
  image: platform-automation-image
  file: platform-automation-tasks/tasks/prepare-tasks-with-secrets.yml
  input_mapping:
    tasks: platform-automation-tasks
    config: configuration
    vars: configuration
  params:
    CONFIG_PATHS: config/foundations/config config/foundations/((foundation))/config
    VARS_PATHS: vars/foundations/((foundation))/vars
  output_mapping:
    tasks: platform-automation-tasks
```

## revert-staged-changes
Reverts all changes that are currently staged on the Ops Manager.
This is only available _for_ Ops Manager 2.5.21+, 2.6.13+, or 2.7.2+

<p class="note important">
<span class="note__title">Important</span>
Since this task reverts all changes on an Ops Manager,
it can conflict with tasks that perform stage or configure operations.
Use passed constraints to ensure things run in the order you intend.</p>

**Task**

<%= partial "tasks/revert-staged-changes" %>

**Implementation**

<%= partial "tasks/revert-staged-changes-script" %>

**Usage**

```yaml
- task: revert-staged-changes
  image: platform-automation-image
  file: platform-automation-tasks/tasks/revert-staged-changes.yml
  input_mapping:
    env: configuration
  params:
    ENV_FILE: foundations/config/env.yml
```

## send-telemetry
Sends the `.tar` output from [`collect-telemetry`](#collect-telemetry)
to VMware.

<p class="note important">
<span class="note__title">Important</span>
To use this task,
you must have a license key for Telemetry.
Contact your VMware Representative.</p>

**Task**

<%= partial "tasks/send-telemetry" %>

**Implementation**

<%= partial "tasks/send-telemetry-script" %>

**Usage**

```yaml
- task: send-telemetry-data
  attempts: 3
  image: platform-automation-image
  file: platform-automation-tasks/tasks/send-telemetry.yml
  params:
    API_KEY: no-op-test-key
    DATA_FILE_PATH: collected-telemetry-data/FoundationDetails*.tar
```

## stage-configure-apply
This is an _advanced task_.
Stage a product to Ops Manager, configure that product, and apply changes
only to that product without applying changes to the rest of the foundation.

<%= partial "disable-verifiers" %>

**Task**

<%= partial "tasks/stage-configure-apply" %>

**Implementation**

<%= partial "tasks/stage-configure-apply-script" %>

**Usage**

```yaml
- task: stage-configure-apply-healthwatch
  image: platform-automation-image
  file: platform-automation-tasks/tasks/stage-configure-apply.yml
  params:
    CONFIG_FILE: healthwatch.yml
  input_mapping:
    product: healthwatch-product
    env: configuration
    config: configuration
```

## stage-product
Staged a product to the Ops Manager specified in the config file.

**Task**

<%= partial "tasks/stage-product" %>

**Implementation**

<%= partial "tasks/stage-product-script" %>

**Usage**

```yaml
- task: upload-and-stage-tas
  image: platform-automation-image
  file: platform-automation-tasks/tasks/stage-product.yml
  input_mapping:
    product: tas-product
    env: configuration
  params:
    ENV_FILE: foundations/config/env.yml
```

## staged-config
Downloads the configuration for a product from Ops Manager.

Not to be confused with Ops Manager's
built-in [export](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-backup-restore-backup-pcf-bbr.html#export),
which puts all deployed products and configurations into a single file,
intended for import as part of backup/restore and upgrade lifecycle processes.

**Task**

<%= partial "tasks/staged-config-script" %>

**Implementation**

<%= partial "tasks/staged-config-script" %>

**Usage**

```yaml
- task: staged-config
  image: platform-automation-image
  file: platform-automation-tasks/tasks/staged-config.yml
  input_mapping:
    env: configuration
  params:
    PRODUCT_NAME: cf
  ensure:
    do:
      - put: state
        params:
          file: generated-state/state.yml
```

## staged-director-config

<%= partial "opsman_filename_change_note" %>

Downloads configuration for the BOSH director from Ops Manager.

**Task**

<%= partial "tasks/staged-director-config" %>

**Implementation**

<%= partial "tasks/staged-director-config-script" %>

**Usage**

```yaml
- task: staged-director-config
  image: platform-automation-image
  file: platform-automation-tasks/tasks/staged-director-config.yml
  input_mapping:
    env: configuration
  ensure:
    do:
      - put: state
        params:
          file: generated-state/state.yml
```

The configuration is exported to the `generated-config` output.
It does not extract credentials from Ops Manager
and replaced them all with YAML interpolation `(())` placeholders.
This is to ensure that credentials are never written to disk.
The credentials need to be provided from an external configuration when invoking [configure-director](#configure-director).

<%= partial "missing_fields_opsman_director" %>

## test
An example task to ensure the assets and docker image are setup correctly in your concourse pipeline.

**Task**

<%= partial "tasks/test" %>

**Implementation**

<%= partial "tasks/test-script" %>

**Usage**

```yaml
- task: test
  file: platform-automation-tasks/tasks/test.yml
  image: platform-automation-image
```

## test-interpolate
An example task to ensure that all required vars are present when interpolating into a base file.
For more instruction on this topic, see the [variables](concepts/variables.md) section

**Task**

<%= partial "tasks/test-interpolate" %>

**Implementation**

<%= partial "tasks/test-interpolate-script" %>

**Usage**

```yaml
- task: test-interpolate
  image: platform-automation-image
  file: platform-automation-tasks/tasks/test-interpolate.yml
  params:
    CONFIG_FILE: foundations/((foundation))/config/download-tas.yml
    SKIP_MISSING: true
  input_mapping:
    config: configuration
```

## upgrade-opsman
Upgrades an existing Ops Manager to a new given Ops Manager version

**Task**
    ---excerpt--- "tasks/upgrade-opsman"
**Implementation**
    ---excerpt--- "tasks/upgrade-opsman-script"
**Usage**
    ---excerpt--- "reference/upgrade-opsman-usage"

For more information about this task and how it works, see the [upgrade](concepts/upgrade.md) page.

## upload-and-stage-product
Uploads and stages product to the Ops Manager specified in the config file.

**Task**
    ---excerpt--- "tasks/upload-and-stage-product"
**Implementation**
    ---excerpt--- "tasks/upload-and-stage-product-script"
**Usage**
    ---excerpt--- "reference/upload-and-stage-product-usage"

## upload-product
Uploads a product to the Ops Manager specified in the config file.

If a shasum is provided in the config.yml,
the integrity product will be verified
with that shasum before uploading.

**Task**
    ---excerpt--- "tasks/upload-product"
**Implementation**
    ---excerpt--- "tasks/upload-product-script"
**Usage**
    ---excerpt--- "reference/upload-product-usage"

## upload-stemcell
Uploads a stemcell to Ops Manager.

Note that the filename of the stemcell must be exactly as downloaded from Tanzu Network.
Ops Manager parses this filename to determine the version and OS of the stemcell.

**Task**
    ---excerpt--- "tasks/upload-stemcell"
**Implementation**
    ---excerpt--- "tasks/upload-stemcell-script"
**Usage**
    ---excerpt--- "reference/upload-stemcell-usage"
